<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
   <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <div class="container">
        <h1>Contact Info</h1>
        <table class="ui green table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                <% contact.forEach(contact => `{ %>
                <tr>
                    <td><%- contact.nama %></td>
                    <td><%- contact.phone %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>
