<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="/css/semantic.min.css" />
    <link rel="stylesheet" href="/css/contact.css" />
    <link rel="icon" type="image/x-icon" href="assets/logo.jpg" />
  </head>
  <body>
    <div class="wrapper">
  

      <br>
      <br>
      <br>

      <div class="ui container">
        <form action="/contacts_edit/<%- contact._id %>" class="ui form" method="POST">
            <div class="ui three fields">
                <div class="field">
                    <label for="nama" class="ui header green">Enter Your Name</label>
                    <input type="text" name="nama", placeholder="Enter Your Name", value="<%- contact.nama %>", id="nama">
                </div>

                <div class="field">
                  <label for="email" class="ui header green">Enter Your Email</label>
                  <input type="text" name="email", placeholder="Enter Your Email", value="<%- contact.email %>", id="email">
              </div>

                <div class="field">
                    <label for="phone" class="ui header green">Enter Your Phone Number</label>
                    <input type="text" name="phone", placeholder="Enter Your Phone Number", value="<%- contact.phone %>", id="phone">
                </div>
                
            </div>

            <div class="ui fluid field">
                <input type="submit" value="SAVE CHANGES" class="ui button green fluid">
            </div>
        </form>

        <br>
        <br>
        <br>
        
      </div>
    </div>

    <script src="/js/semantic.min.js"></script>
  </body>
</html>
