<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="/css/semantic.min.css" />
    <link rel="stylesheet" href="/css/contact.css" />
</head>
<body>
<div class="wrapper">
    <h1 class="title">Contacts info</h1>
    <p class="subtitle">Add 3 contacts to get 15% discount!!!</p>

    <br>
    <br>
    <br>
    <div class="ui container">
        <!-- Logo Home -->
        <a href="/login" class="home-link">
            <img src="/assets/home_logo.jpg" alt="Home" class="home-icon">
        </a>

        <form action="/contacts" class="ui form" method="POST">
            <div class="ui three fields">
                <div class="field">
                    <label for="nama" class="ui header green">Enter Your Name</label>
                    <input type="text" name="nama" required>
                </div>

                <div class="field">
                    <label for="phone" class="ui header green">Enter Your Phone Number</label>
                    <input type="text" name="phone" pattern="[0-9]{12,}" title="Phone number must be at least 12 digits" required oninvalid="this.setCustomValidity('Phone number must be at least 12 digits')" oninput="this.setCustomValidity('')">
                </div>
                
            </div>

            <div class="ui fluid field">
                <input type="submit" value="Add" class="ui button green fluid">
            </div>
        </form>

        <br>
        <br>
        <br>
        <table class="ui green table">
            <thead>
                <th>Name</th>
                <th>Phone Number</th>
                <td>Edit</td>
                <td>Delete</td>
            </thead>
            <tbody>
             
              <% contacts.forEach ((contact)=>{ %>
                <tr>
                  <td><%- contact.nama %></td>
                  <td><%- contact.phone %></td>
                  <td><a class="ui purple button" href="/contacts_edit/<%= contact._id %>" ><i class="edit outline icon"></i>Edit</a></td>

                  <td><a class="ui red button" href="/delete/<%= contact._id %>" ><i class="minus icon"></i>Delete</a></td>
                </tr>

                <% }); %>
            </tbody>

        </table>

        <!-- Tombol Next -->
        <a href="/cart" class="ui button blue">Next</a>
    </div>
</div>

<script src="/js/semantic.min.js"></script>
</body>
</html>
