<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Basic Plan</title>
<link rel ="icon" type="image/x-icon" href="assets/logo.jpg">
<link rel="stylesheet" href="plan.css">
</head>
<body>

    <div class="logo-container">
        <img src="assets/logo.jpg" alt="logo" class="logo" />
        <p class="company-name">Power Fitness</p>
    </div>

<div class="container">
    <!-- basic plan -->
    <h1 data-sr="enter bottom over 1s and move 50px">Basic Plan</h1>
    <div class="product" data-sr="enter bottom over 1s and move 50px">
        <img src="assets/price-1.png" alt="Basic Plan">
        <div class="product-details">
            <h2>Basic Plan</h2>
            <p class="price">Rp. 150.000/month</p>
            <p>Smart workout plan</p>
            <p>At home workouts</p>
            <div class="quantity">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" min="1" value="1">
            </div>
            <button class="btn add-to-cart" data-plan="basic-plan">Add to Cart</button>
        </div>
    </div>

    <!-- Weekly plan -->
    <h1 data-sr="enter bottom over 1s and move 50px">Weekly Plan</h1>
    <div class="product" data-sr="enter bottom over 1s and move 50px">
        <img src="assets/price-2.png" alt="Basic Plan">
        <div class="product-details">
            <h2>Weekly Plan</h2>
            <p class="price">Rp. 300.000/month</p>
            <p>PRO Gyms</p>
            <p>Smart workout plan</p>
            <p>At home workouts</p>
            <div class="quantity">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" min="1" value="1">
            </div>
            <button class="btn add-to-cart" data-plan="weekly-plan">Add to Cart</button>
        </div>
    </div>

    <!-- Monthly Plan -->
    <h1 data-sr="enter bottom over 1s and move 50px">Monthly Plan</h1>
    <div class="product" data-sr="enter bottom over 1s and move 50px">
        <img src="assets/price-3.png" alt="Basic Plan">
        <div class="product-details">
            <h2>Monthly Plan</h2>
            <p class="price">Rp. 450.000/month</p>
            <p>Elite Gyms & Classes</p>
            <p>PRO Gyms</p>
            <p>Smart workout plan</p>
            <p>At home workouts</p>
            <p>Personal Training</p>
            <div class="quantity">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" min="1" value="1">
            </div>
            <button class="btn add-to-cart" data-plan="monthly-plan">Add to Cart</button>
        </div>
    </div>


</div>

<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="plan.js"></script>

</body>
</html>
