<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="icon" type="image/x-icon" href="assets/logo.jpg" />
</head>
<body>
    <div class="container">
        <h2>User Profile</h2>
        <div class="back-button">
            <a href="/index"><button>Back</button></a>
        </div>
        <!-- Add JavaScript code to display the success message if present -->
        <script>
            const urlParams = new URLSearchParams(window.location.search);
            const successMessage = urlParams.get('successMessage');
            if (successMessage) {
                alert(successMessage); // You can replace this with your preferred way of displaying the success message
            }
        </script>
        <div class="form-group">
            <div class="container">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <span><%= newUsername ? newUsername : userName %></span>
                    <% if(newUsername) { %><span> (Updated)</span><% } %>
                </div>
                
            </div>
        </div>
        <form action="/profile/update-name" method="POST" class="form-group">
            <label for="newName">New Name:</label>
            <input type="text" id="newName" name="newName" required>
            <button type="submit">Update Name</button>
        </form>
        <form action="/profile/update-password" method="POST" class="form-group">
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>
            <button type="submit">Update Password</button>
        </form>
        <form action="/profile/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete your profile? This action cannot be undone.');">
            <button type="submit" style="background-color: red;">Delete Profile</button>
        </form>
        <% if(errorMessage) { %>
            <p class="error-message"><%= errorMessage %></p>
        <% } %>
    </div>
</body>
</html>
