body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.discount-message {
    text-align: center; /* Untuk menengahkan teks secara horizontal */
}


.footer__bar {
    padding: 1rem;
    font-size: 0.8rem;
    color: var(--text-light);
    text-align: center;
  }